<md-toolbar class="md-hue-2" ng-controller="DashCtrl">
    <div class="md-toolbar-tools">
        <md-button data-activates="slide-out" class="button-collapse" ng-click="sideNav()" aria-label="Settings">
            <md-icon md-svg-icon="imgs/icons/menu_icon.svg"></md-icon>
        </md-button>
        <h2>
            <span>Dashboard</span>
        </h2>
        <span flex></span>
    </div>
</md-toolbar>

<ul id="slide-out" class="side-nav">
    <li><div class="userView">
        <img class="background" src="../../imgs/hall.png">
        <a href="#!user"><img class="circle" src="../../imgs/icons/account_icon.svg"></a>
        <a href="#!name"><span class="white-text name">Alex Webb</span></a>
        <a href="#!email"><span class="white-text email">hacker@gmail.com</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">Cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="account" ui-sref="/account">Account</a></li>
    <li><a class="logout" href="#!">Logout</a></li>
    <li><a class="settings" href="#!">Settings</a></li>
</ul>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;" ng-controller="DashCtrl">
    <a class="btn-floating btn-large red" ng-click="openFab()">
        <md-tooltip md-direction="left" md-visible="tooltipVisible">Actions</md-tooltip>
        <i class="large material-icons">...</i>
    </a>
    <ul>
        <li>
          <md-tooltip md-direction="left" md-visible="tooltipVisible">What's My Schedule?</md-tooltip>
          <a class="btn-floating red"><i class="material-icons">{ }</i></a>
        </li>
        <li>
          <md-tooltip md-direction="left" md-visible="tooltipVisible">Remove a Class</md-tooltip>
          <a class="btn-floating yellow darken-1"><i class="material-icons">-</i></a>
        </li>
        <li>
          <md-tooltip md-direction="left" md-visible="tooltipVisible">Add a Class</md-tooltip>
          <a class="btn-floating green" ui-sref="/main"><i class="material-icons">+</i></a>
        </li>
    </ul>
</div>
