* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

#resetPswdContainer {
  width: 100%;
  margin: 0 auto;
}

.email-input {
  position: relative;
  padding-top: 50px;
}

.resetPswd-btn {
  position: relative;
}
