<md-toolbar class="md-hue-2" ng-controller="DashCtrl">
    <div class="md-toolbar-tools">
        <md-button data-activates="slide-out" class="button-collapse" ng-click="sideNav()" aria-label="Settings">
            <md-icon md-svg-icon="imgs/icons/menu_icon.svg"></md-icon>
        </md-button>
        <h2>
            <span>Dashboard</span>
        </h2>
        <span flex></span>
    </div>
</md-toolbar>

<ul id="slide-out" class="side-nav">
    <li><div class="userView">
        <img class="background" src="../../imgs/hall.png">
        <a href="#!user"><img class="circle" src="../../imgs/icons/account_icon.svg"></a>
        <a href="#!name"><span class="white-text name">Alex Webb</span></a>
        <a href="#!email"><span class="white-text email">hacker@gmail.com</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
</ul>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;" ng-controller="DashCtrl">
    <a class="btn-floating btn-large red" ng-click="openFab()">
        <i class="large material-icons">+</i>
    </a>
    <ul>
        <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
        <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
        <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
    </ul>
</div>





