<nav-bar></nav-bar>

<link href="styles/pages/login.css" rel="stylesheet">

<div class="loginContainer">
  <title>Login</title>
   <form name="userForm">
     <div layout="column" layout-align="center" flex="35" flex-offset="30">
       <md-input-container class="sm-block">
         <label>Email</label>
         <input ng-model="user.email" type="email" required minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/"/>
       </md-input-container>
     </div>
     <div layout="column" layout-align="center" flex="35" flex-offset="30">
       <md-input-container class="sm-block">
         <label>Password</label>
         <input ng-model="user.pswd" type="password" required minlength="8"/>
       </md-input-container>
     </div>
     <div layout="row" layout-align="center" flex="5" flex-offset="45">
       <md-button ui-sref="/dash">Login</md-button>
       <md-button ui-sref="/splash">Cancel</md-button>
     </div>
   </form>
 </div>
