<nav-bar></nav-bar>

<link href="styles/pages/activity.css">

<div class="mainContainer">
  <title>Main Activity Page</title>
  <form name="userForm">
    <div class="class" layout="row" layout-align="space-between center" flex="50" flex-offset="25">
      <md-input-container class="sm-block">
        <label>Class Name</label>
        <input ng-model="user.className" type="text">
      </md-input-container>
      <md-input-container>
        <label>Intsructor (Optional)</label>
        <input ng-model="user.instructor" type="text">
      </md-input-container>
    </div>
    <div class="times" layout="row" layout-align="space-between center" flex="50" flex-offset="25">
      <md-input-container class="sm-block">
        <label>Start Time</label>
        <input ng-model="user.classStart" type="text">
      </md-input-container>
      <md-input-container class="sm-block">
        <label>End Time</label>
        <input ng-model="user.classEnd" type="text">
      </md-input-container>
    </div>
    <div class="location" layout="row" layout-align="space-between center" flex="50" flex-offset="25">
      <md-input-container>
        <label>Building</label>
        <input ng-model="user.building" type="text">
      </md-input-container>
      <md-input-container>
        <label>Room</label>
        <input ng-model="user.room" type="text">
      </md-input-container>
    </div>
    <div id="activity-btns" layout="row" layout-align="center end">
      <md-button class="submit-btn">Submit</md-button>
      <md-button class="cancel-btn">Cancel</md-button>
    </div>
  </form>
</div>
