<div ng-controller="AccountCtrl" id="updateInfoContainer">
  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
      <md-button data-activates="slide-out" class="button-collapse" ng-click="sideNav()" aria-label="Settings">
        <md-icon md-svg-icon="imgs/icons/menu_icon.svg"></md-icon>
      </md-button>
      <h2>
        <span>Update Your Info</span>
      </h2>
      <span flex></span>
    </div>
  </md-toolbar>

  <ul id="slide-out" class="side-nav">
      <li><div class="userView">
          <img class="background" src="../../imgs/hall.png">
          <a href="#!user"><img class="circle" src="../../imgs/icons/account_icon.svg"></a>
          <a href="#!name"><span class="white-text name">User's Name</span></a>
          <a href="#!email"><span class="white-text email">someone@email.com</span></a>
      </div></li>
      <li><a href="#!"><i class="material-icons">Cloud</i>First Link With Icon</a></li>
      <li><a href="#!">Second Link</a></li>
      <li><div class="divider"></div></li>
      <li><a class="dash" ui-sref="/dash">Dashboard</a></li>
      <li><a class="account" ui-sref="/account">Account</a></li>
      <li><a class="settings" ui-sref="/settings">Settings</a></li>
      <li><a class="logout" ui-sref="/splash">Logout</a></li>
      <li><div class="divider"></div></li>
      <li><a class="about" ui-sref="/about">About Us</a></li>
  </ul>

  <div id="updateInfoContainer" layout="column" layout-align="center-center">
    <md-input-container>
      <label color="white">Email</label>
      <input ng-model="login.credentials.email" type="email"
             required minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/"/>
    </md-input-container>
    <md-input-container>
      <label color="white">Username</label>
      <input ng-model="user.name" type="text"/>
    </md-input-container>
    <md-input-container>
      <label color="white">Phone Number</label>
      <input ng-model="user.phone" type="text" required minlength="10" maxlength="10"/>
    </md-input-container>
    <div id="updateInfoBbtns" layout="row" layout-align="center center">
      <md-button class="updateInfoBtn" ui-sref="/updateInfoSuccess">Submit</md-button>
      <md-button class="updateInfoBtn" ui-sref="/settings">Cancel</md-button>
    </div>
  </div>
</div>
