* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

#account-container {
  background-image: url("../../../imgs/hall.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

font {
  position: relative;
  padding-top: 50px;
  padding-bottom: 25px;
  font-size: 200%;
}

.account-btn {
  position: relative;
  border: 1px solid white;
  color: white;
}
