* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

#settings-container {
  width: 100%;
  margin: 0 auto;
}

font {
  position: relative;
  padding-top: 50px;
  padding-bottom: 25px;
  font-size: 200%;
}

.settings-btn {
  position: relative;
}
