* {
  box-sizing: border-box;
}

#splash-content {
  background-image: url(../../img/splash-img.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#splash-btns {
  position: fixed;
  padding: 30px 30px;
  bottom: 0;
  width: 100%
}

.splash-btn {
  border: 2px solid white;
  color: white;
}


